<div id="template" data-id="<%= @template.id %>" />
<div id="add_component" data-path="<%= admin_template_add_component_url(@template) %>" />

<%= form_for [:admin, @template], :html => {:autocomplete=>"off"} do |f| %>
    <div id="content">
        <% if flash[:alert] %>
            <div class="alert">
                <%= flash[:alert] %>
            </div>
        <% end %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.templates.singular %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :name, :placeholder => "Name", :id => 'template-name', :autocomplete=>"off" %>
                </div>
                <div class="form-line">
                    <%= f.text_field :slug, :placeholder => "Slug", :id => 'template-slug', :autocomplete=>"off" %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left">
                Thumbnail
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= filepicker_image_tag(@template.image_url, w: 180, h: 250) %>
                    <%= f.filepicker_field :image_url, :class => "button", :button_text => 'Select image', :extensions => ".png,.jpg,.jpeg" %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.components.plural %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <div class="components" data-update-url="<%= admin_template_sort_url(@template) %>">
                        <% @template.components.order("template_components.order ASC").each do |component| %>
                            <%= render :partial => 'component', :locals => {:component => component} %>
                        <% end %>
                    </div>
                    <a href="#" class="button" data-picker="component" data-picker-callback="templates#add_component">Add Component</a>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left"></div>
            <div class="form-section-right">
                <div class="form-line">
                  <% if action == 'update' %>
                      <%= f.submit "Save #{Settings.templates.singular}", :class => "button" %>
                  <% else %>
                      <%= f.submit "Create #{Settings.templates.singular}", :class => "button" %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
    
<% end %>