<div id="template" data-id="<%= @template.id %>" />
    
<% if @template.id != nil %>
    <div id="add_component" data-path="<%= template_add_component_url(@template) %>" />
<% end %>

<%= form_for @template, :html => {:autocomplete=>"off"} do |f| %>
    <div id="content">
        <% if flash[:alert] %>
            <div class="alert">
                <%= flash[:alert] %>
            </div>
        <% end %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.templates.name %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :name, :placeholder => "Name", :id => 'template-name', :autocomplete=>"off", :class => 'form-text-field' %>
                </div>
                <div class="form-line">
                    <%= f.text_field :slug, :placeholder => "Slug", :id => 'template-slug', :autocomplete=>"off", :class => 'form-text-field' %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left">
                Thumbnail
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <div id="template-image-display">
                        <% if !@template.image.blank? %>
                            <%= image_tag @template.image.url(:large) %>
                        <% end %>
                    </div>
                    
                    <%= f.hidden_field :image, :id => "template-image-hidden-field" %>
                    <%= f.hidden_field :image_original_filename, :id => "template-image-original-filename-hidden-field" %>
                    
                    <input type="filepicker" 
                            name="temp_image" 
                            class="button" 
                            data-fp-apikey="<%= Settings.filepicker.api_key %>" 
                            data-fp-button-text="Select image" 
                            data-fp-extensions=".png,.jpg,.jpeg" 
                            data-fp-multiple="false" 
                            onchange="$('#template-image-hidden-field').val(event.fpfile.url); $('#template-image-original-filename-hidden-field').val(event.fpfile.filename); $('#template-image-display').html('<img src=\'' + event.fpfile.url + '/convert?w=180&h=250&fit=crop\' />');" 
                    />
                    
                </div>
            </div>
        </div>
        
        <% if @template.id != nil %>
            <div class="form-section clearfix">
                <div class="form-section-left">
                    <%= Settings.components.name.pluralize %>
                </div>
                <div class="form-section-right">
                    <div class="form-line">
                        <div class="components" data-update-url="<%= template_sort_url(@template) %>">
                            <% @template.components.order("template_components.order ASC").each do |component| %>
                                <%= render :partial => 'component', :locals => {:component => component} %>
                            <% end %>
                        </div>
                        <a href="#" class="button add-component" data-picker="component" data-picker-callback="templates#add_component">Add Component</a>
                    </div>
                </div>
            </div>
        <% end %>
        
        <div class="form-section clearfix">
            <div class="form-section-left"></div>
            <div class="form-section-right">
                <div class="form-line">
                  <% if action == 'update' %>
                      <%= f.submit "Save #{Settings.templates.name}", :class => "button" %>
                  <% else %>
                      <%= f.submit "Create #{Settings.templates.name}", :class => "button" %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
    
<% end %>