<div id="right-bar">
    
    <div class="header">
        Settings
    </div>

    <div class="item">
        <div class="item-title">Name</div>
        <div id="page-name-container">
            <%= f.text_field :name, :id => 'page-name', :class => "input-xlarge" %>
        </div>
    </div>
    
    <div class="item">
        <div class="item-title">Slug</div>
        <div id="page-slug-container">
            <%= f.text_field :slug, :id => 'page-slug', :class => "input-xlarge" %>
        </div>
    </div>
    
    <div id="actions">
        <% if action == 'create' %>
            <%= link_to "Create #{Settings.pages.singular}", '#', :class => "button green", :id => 'page-submit' %>
        <% elsif action == 'update'%>
            <%= link_to "Save #{Settings.pages.singular}", '#', :class => "button green", :id => 'page-submit' %>
            <a href="/<%= @page.slug%>" class="button" target="_blank">View <%= Settings.pages.singular %></a>
        <% end %>
    </div>
    
</div>