<%= form_for @flag, :html => {:autocomplete=>"off"} do |f| %>
    <div id="content">
        <div class="header">
            <% if action == "create" %>
                New
            <% elsif action == "update" %>
                Edit
            <% end %>
            <%= Settings.flags.name %>
        </div>
        <% if flash[:alert] %>
            <div class="alert">
                <%= flash[:alert] %>
            </div>
        <% end %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.flags.name %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :name, :placeholder => "Name", :id => 'flag-name', :autocomplete=>"off", :class => 'form-text-field' %>
                </div>
                <div class="form-line">
                    <%= f.text_field :slug, :placeholder => "Slug", :id => 'flag-slug', :autocomplete=>"off", :class => 'form-text-field' %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left"></div>
            <div class="form-section-right">
                <div class="form-line">
                  <% if action == 'update' %>
                      <%= f.submit "Save #{Settings.flags.name}", :class => "button" %>
                  <% else %>
                      <%= f.submit "Create #{Settings.flags.name}", :class => "button" %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
    
<% end %>