<div class="content">
    <% if flash[:alert] %>
        <div class="alert">
            <%= flash[:alert] %>
        </div>
    <% end %>

    <div class="header">
        <%= image_tag('logo.png') %>
    </div>

    <div class="form">
        <%= form_tag sessions_path, :id => 'signin-form', :autocomplete=>"off" do %>
          <div>
            <%= text_field_tag :username, params[:username], :placeholder => "Username" %>
          </div>
          <div>
            <%= password_field_tag :password, nil, :placeholder => "Password" %>
          </div>
          <div class="actions"><a href="#" class="button green" id="signin-button">Sign in</a></div>
        <% end %>
    </div>
</div>