<div id="settings-bar">
    <div class="header">
        Settings
    </div>

    <div class="item">
        <div class="top">
            Slug
        </div>
        <div class="bottom">
            <%= f.text_field :slug %>
        </div>
    </div>
    
    <div class="item">
        <div class="top">
            Categories
        </div>
        <div class="bottom">
            <%= hidden_field_tag "article[category_ids][]", nil %>
            <% Category.all.each do |category| %>
                <%= check_box_tag "article[category_ids][]", category.id, @article.category_ids.include?(category.id) %>
                <%= category.name %><br/>
            <% end %> 
        </div>
    </div>
    
    <div class="item">
        <div class="top">
            Series
        </div>
        <div class="bottom">
            <%= hidden_field_tag "article[series_ids][]", nil%>
            <% Series.all.each do |series| %>
                <%= check_box_tag "article[series_ids][]", series.id, @article.series_ids.include?(series.id) %>
                <%= series.name %><br/>
            <% end %>
        </div>        
    </div>

    <div id="actions">
        <% if action == 'create' %>
            <%= f.submit "Create Article", :class => "button" %>
        <% elsif action == 'update'%>
            <%= f.submit "Update Article", :class => "button" %>
        <% end %>
    </div>
    
</div>