<div id="stage">
    
    <%= render "left_bar" %>
    
    <%= form_for [:admin, @article] do |f| %>
        <div id="content">
            <div id="edit-article-form">
                <%= f.text_field :title, :placeholder => 'Title', :id => 'article-title' %>
                <hr />
                <%= f.text_area :body, :placeholder => 'Body', :id => 'article-body' %>
            </div>
        </div>
                
        <%= render :partial => 'right_bar', :locals => {:f => f, :action => 'update'} %>
        
    <% end %>
</div>
