<div id="stage">
    
    <%= render "article_bar" %>
    
    <%= form_for [:admin, @article] do |f| %>
        <div id="content">
            <div id="edit-article-form">
              <%= f.text_field :title, :placeholder => 'Title', :id => 'article-title' %><br />
              <%= f.text_area :body, :placeholder => 'Body', :id => 'article-body' %><br />
            </div>
        </div>
                
        <%= render :partial => 'settings_bar', :locals => {:f => f, :action => 'create'} %>
        
    <% end %>
</div>