<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.site.name %></title>
  <%= stylesheet_link_tag    "application/application_manifest", :media => "all" %>
  <%= javascript_include_tag "application/application_manifest" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
