<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.site.name %></title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700&subset=latin,greek' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "metaphor/metaphor/manifest", :media => "all" %>
  <%= javascript_include_tag "metaphor/metaphor/manifest" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body class="article-editor">
	
	<!-- BEGIN HEADER -->
	
	<header>
		<div class="top clearfix">
            <div class="navigation-wrapper clearfix">
                Content Editor
            </div>
		</div>
	</header>

    <%= yield %>

    <%= javascript_include_tag "metaphor/metaphor/paneslide/jquery.paneslide" %>
    
</body>
</html>
