<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.site.name %></title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700&subset=latin,greek' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "metaphor/auth/manifest", :media => "all" %>
  <%= javascript_include_tag "metaphor/auth/manifest" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>