<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.site.name %></title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700&subset=latin,greek' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "metaphor/metaphor/manifest", :media => "all" %>
  <%= javascript_include_tag "metaphor/metaphor/manifest" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body class="site">
	
	<!-- BEGIN HEADER -->
	
	<header>
		<div class="top clearfix">
            <div class="navigation-wrapper clearfix">
                
                <div class="site-name">
                    <%= link_to image_tag('logo.png'), Settings.site.root_url %>
                </div>
                
                <div class="clearfix">
                    <div class="navigation">
                        <ul>
                            <li>Signed in as <strong><%= current_user.display_name %></strong></li>
                            <li><%= link_to "Sign out", metaphor.signout_path %></li>
                        </ul>
                    </div>
                    <div class="navigation">
                        <ul>
                            <li>Content:</li>
                            <li><%= link_to Settings.articles.name.pluralize, metaphor.articles_path %></li>
                            
                            <% if Settings.events.enabled %>
                                <li><%= link_to Settings.events.name.pluralize, metaphor.events_path %></li>
                            <% end %>
                            
                            <% Settings.nav.entities.each do |key, value| %>
                                <li><%= link_to value.pluralize, "#{Settings.site.root_url}/#{key}" %></li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="navigation">
                        <ul>
                            <li><%= link_to "Visit #{Settings.site.visit_name}", Settings.site.full_url, :target => '_blank' %></li>
                        </ul>
                    </div>
                </div>
                
                <div class="clearfix">
                    <% if current_user.has_role?(:superadmin) %>
                        <div class="navigation">
                            <ul>
                                <li>Superadmin:</li>
                                <li><%= link_to Settings.categories.name.pluralize, metaphor.categories_path %></li>
                                <% if Settings.series.enabled %>
                                    <li><%= link_to Settings.series.name.pluralize, metaphor.series_index_path %></li>
                                <% end %>
                                <li><%= link_to "Site", metaphor.site_path %></li>
                                <li><%= link_to Settings.templates.name.pluralize, metaphor.templates_path %></li>
                                <li><%= link_to Settings.components.name.pluralize, metaphor.components_path %></li>
                                <li><%= link_to Settings.flags.name.pluralize, metaphor.flags_path %></li>
                                <li><%= link_to Settings.users.name.pluralize, metaphor.users_path %></li>
                                <li><%= link_to "Roles", metaphor.roles_path %></li>
                            </ul>
                        </div>
                    <% end %>
                    <% if current_user.has_role?(:admin) ||  current_user.has_role?(:superadmin)%>
                        <div class="navigation">
                            <ul>
                                <li>Admin:</li>
                                <li><%= link_to Settings.collections.name.pluralize, metaphor.collections_path %></li>
                                <li><%= link_to Settings.pages.name.pluralize, metaphor.pages_path %></li>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>
		</div>
	</header>

    <%= yield %>
    
</body>
</html>
