<div class="pickercontent">
    <header>
    	<div class="top clearfix">
            <div class="navigation-wrapper clearfix">
                Sounds
            </div>
    	</div>
    </header>

    <div class="tabs clearfix">
        <div class="tab" data-content="recent">
            Recent Sounds
        </div>
        <div class="tab" data-content="add">
            Add a Sound
        </div>
    </div>
    <div class="content recent">    
        <% @sounds.each do |sound| %>
            <div class="item clearfix">
                <div class="single">
                    <iframe width="100%" height="100" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<%= sound.code %>"></iframe>
                    <%= link_to sound.name, "", 'data-picker-item' => sound.id %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="content add">
        <div>
            <%= text_field_tag :name, "", :placeholder => "Name", :id => 'sound-name', :class => "picker-new-name", :autocomplete=>"off" %>
        </div>
        <div>
            <%= text_field_tag :slug, "", :placeholder => "Slug", :id => 'sound-slug', :class => "picker-new-slug", :autocomplete=>"off" %>
        </div>
        <div>
            <%= text_field_tag :code, "", :placeholder => "Soundcloud ID", :id => 'sound-code', :autocomplete=>"off" %>
        </div>
        <div class="buttons">
            <a href="" class="button" id="picker-add-sound">Add Sound</a>
        </div>
    </div>

</div>

<div id="picker-bottom-bar">
    <div class="buttons pull-right">
        <a id="picker-cancel" href="#" class="button">Close Sound Selector</a>
    </div>  
</div>