<div class="pickercontent">
    <header>
    	<div class="top clearfix">
            <div class="navigation-wrapper clearfix">
                Sounds
                <div class="buttons">
                    <a id="picker-cancel" href="#" class="button small">X</a>
                </div>
            </div>
    	</div>
    </header>

    <div class="tabs clearfix">
        <div class="tab" data-content="add">
            Upload a Sound
        </div>
        <div class="tab" data-content="recent">
            Recent Sounds
        </div>
        <div class="tab" data-content="search">
            Search for Sound
        </div>
    </div>
    <div class="content recent">    
        <% @sounds.each do |sound| %>
            <%= render :partial => 'sound_item', :locals => {:sound => sound} %>
        <% end %>
    </div>
    <div class="content search">
        <div>
            <%= text_field_tag :search, "", :placeholder => "Enter a search term", :id => 'search-term', :class => "picker-search-field", :autocomplete=>"off" %>
        </div>
        
        <div class="buttons">
            <a href="" class="button" id="picker-search" data-type="Sound">Search</a>
        </div>
        
        <div class="results"> 
            
        </div>
    </div>
    <div class="content add">
        <div>
            <%= text_field_tag :name, "", :placeholder => "Name", :id => 'sound-name', :class => "picker-new-name", :autocomplete=>"off" %>
        </div>
        <div>
            <%= text_field_tag :slug, "", :placeholder => "Slug", :id => 'sound-slug', :class => "picker-new-slug", :autocomplete=>"off" %>
        </div>
        <div>
            <%= text_field_tag :code, "", :placeholder => "Soundcloud ID", :id => 'sound-code', :autocomplete=>"off" %>
        </div>
        <div class="buttons">
            <a href="" class="button" id="picker-add-sound">Upload Sound</a>
        </div>
    </div>

</div>