<div class="pickercontent">
    <header>
    	<div class="top clearfix">
            <div class="navigation-wrapper clearfix">
                Videos
                <div class="buttons">
                    <a id="picker-cancel" href="#" class="button small">X</a>
                </div>
            </div>
    	</div>
    </header>


    <div class="tabs clearfix">
        <div class="tab" data-content="add">
            Upload a Video
        </div>
        <div class="tab" data-content="recent">
            Recent Videos
        </div>
        <div class="tab" data-content="search">
            Search for Video
        </div>
    </div>
    <div class="content recent">    
        <% @videos.each do |video| %>
            <%= render :partial => 'video_item', :locals => {:video => video} %>
        <% end %>
    </div>
    <div class="content search">
        <div>
            <%= text_field_tag :search, "", :placeholder => "Enter a search term", :id => 'search-term', :class => "picker-search-field", :autocomplete=>"off" %>
        </div>
        
        <div class="buttons">
            <a href="" class="button" id="picker-search" data-type="Video">Search</a>
        </div>
        
        <div class="results"> 
            
        </div>
    </div>
    <div class="content add">
        <div>
            <%= text_field_tag :name, "", :placeholder => "Name", :id => 'video-name', :class => "picker-new-name", :autocomplete=>"off" %>
        </div>
        <div>
            <%= text_field_tag :slug, "", :placeholder => "Slug", :id => 'video-slug', :class => "picker-new-slug", :autocomplete=>"off" %>
        </div>
        <div>
            <%= text_field_tag :code, "", :placeholder => "Youtube ID", :id => 'video-code', :autocomplete=>"off" %>
        </div>
        <div class="buttons">
            <a href="" class="button" id="picker-add-video">Upload Video</a>
        </div>
    </div>

</div>