<div class="pickercontent">
    <header>
    	<div class="top clearfix">
            <div class="navigation-wrapper clearfix">
                Vimeos
                <div class="buttons">
                    <a id="picker-cancel" href="#" class="button small">X</a>
                </div>
            </div>
    	</div>
    </header>


    <div class="tabs clearfix">
        <div class="tab" data-content="add">
            Upload a Vimeo
        </div>
        <div class="tab" data-content="recent">
            Recent Vimeos
        </div>
        <div class="tab" data-content="search">
            Search for Vimeo
        </div>
    </div>
    <div class="content recent">    
        <% @vimeos.each do |vimeo| %>
            <%= render :partial => 'vimeo_item', :locals => {:vimeo => vimeo} %>
        <% end %>
    </div>
    <div class="content search">
        <div>
            <%= text_field_tag :search, "", :placeholder => "Enter a search term", :id => 'search-term', :class => "picker-search-field", :autocomplete=>"off" %>
        </div>
        
        <div class="buttons">
            <a href="" class="button" id="picker-search" data-type="Vimeo">Search</a>
        </div>
        
        <div class="results"> 
            
        </div>
    </div>
    <div class="content add">
        <div>
            <%= text_field_tag :name, "", :placeholder => "Name", :id => 'vimeo-name', :class => "picker-new-name", :autocomplete=>"off" %>
        </div>
        <div>
            <%= text_field_tag :slug, "", :placeholder => "Slug", :id => 'vimeo-slug', :class => "picker-new-slug", :autocomplete=>"off" %>
        </div>
        <div>
            <%= text_field_tag :code, "", :placeholder => "Vimeo ID", :id => 'vimeo-code', :autocomplete=>"off" %>
        </div>
        <div class="buttons">
            <a href="" class="button" id="picker-add-vimeo">Upload Vimeo video</a>
        </div>
    </div>

</div>