<div class="content">

    <div class="page-title">
        Series
    </div>
    
    <div class="breadcrumb">
        <%= link_to "« Back", admin_series_index_path %> // Edit Series: <%= @series.name %>
    </div>
    
    <div class="form">
        <%= form_for [:admin, @series] do |f| %>
          <%= f.label :slug %>:
          <%= f.text_field :slug %><br />
          <%= f.label :name %>:
          <%= f.text_field :name %><br />
          <%= f.submit "Update" %>
        <% end %>
    </div>
    
</div>