<%= form_for @event, :html => {:autocomplete=>"off", :id => 'event-form'} do |f| %>
    <div id="content">
        <% if flash[:alert] %>
            <div class="alert">
                <%= flash[:alert] %>
            </div>
        <% end %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.events.name %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :title, :placeholder => "Title", :id => 'event-title', :autocomplete=>"off" %>
                </div>
                <div class="form-line">
                    <%= f.text_field :slug, :placeholder => "Slug", :id => 'event-slug', :autocomplete=>"off" %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left">
                Type
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.collection_select :event_type, Settings.events.types, :first, :last, {:include_blank => 'Select an event type'}  %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left">
                Date
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <div class="form-line">
                        <%= f.text_field :date, :placeholder => "Date", :id => 'event-date', :autocomplete=>"off", :class => 'form-text-field', :value => @event.date ? @event.date.strftime('%b %d, %Y') : '' %>
                    </div>
                    <div class="form-line">
                        <%= f.text_field :time, :placeholder => "Time", :id => 'event-time', :autocomplete=>"off", :class => 'form-text-field' %> (optional)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.flags.name.pluralize %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= hidden_field_tag "event[flag_ids][]", nil %>
                    <% Flag.all.each do |flag| %>
                        <label class="checkbox">
                            <%= check_box_tag "event[flag_ids][]", flag.id, @event.flag_ids.include?(flag.id) %>
                            <label><%= flag.name %></label>
                        </label>
                    <% end %>
                </div>
            </div>
        </div>
        
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.tags.name.pluralize %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :tag_list, :class => 'tag-list' %>
                </div>
            </div>
        </div>
        
        <% Settings.entities.types.each do |key,value| %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= value %>
            </div>
            <div class="form-section-right">
                <div class="form-line <%= key %>_list">
                    <% s = "#{key}_list".parameterize.underscore.to_sym %>
                    <%= f.text_field s, :class => "#{key}-list", :name => "event[#{key}_list]", "data-#{key}-ids" => @event.send("#{key}_ids".to_sym) %>
                </div>
            </div>
        </div>
        <% end %>

        <div class="form-section clearfix">
            <div class="form-section-left">
                Body
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_area :body, :placeholder => "Body", :id => 'event-body', :autocomplete=>"off" %>
                </div>
            </div>
        </div>
        
        <div id="actions" class="form-section clearfix">
            <% if action == 'create' %>
                <%= link_to "Create #{Settings.events.name}", '#', :class => "button green", :id => 'event-submit' %>
            <% elsif action == 'update'%>
                <%= link_to "Save #{Settings.events.name}", '#', :class => "button green", :id => 'event-submit' %>
            <% end %>
        </div>
    </div>
    
<% end %>