<%= form_for @event, :html => {:autocomplete=>"off", :id => 'event-form'} do |f| %>
    <div id="content">
        <% if flash[:alert] %>
            <div class="alert">
                <%= flash[:alert] %>
            </div>
        <% end %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.events.name %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :title, :placeholder => "Title", :id => 'event-title', :autocomplete=>"off" %>
                </div>
                <div class="form-line">
                    <%= f.text_field :slug, :placeholder => "Slug", :id => 'event-slug', :autocomplete=>"off" %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left">
                Type
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.collection_select :event_type, Settings.events.types, :first, :last, {:include_blank => 'Select an event type'}  %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left">
                Date
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <div class="form-line">
                        <%= f.text_field :date, :placeholder => "Date", :id => 'event-date', :autocomplete=>"off", :class => 'form-text-field', :value => @event.date ? @event.date.strftime('%b %d, %Y') : '' %>
                    </div>
                    <div class="form-line">
                        <%= f.text_field :time, :placeholder => "Time", :id => 'event-time', :autocomplete=>"off", :class => 'form-text-field' %> (optional)
                    </div>
                </div>
            </div>
        </div>

        <% if @event.id != nil %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                End Date
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <div class="form-line">
                        <%= f.text_field :end_date, :placeholder => "End Date", :id => 'event-end-date', :autocomplete=>"off", :class => 'form-text-field', :value => @event.end_date ? @event.end_date.strftime('%b %d, %Y') : '' %> (optional)
                    </div>
                    <div class="form-line">
                        <%= f.text_field :end_time, :placeholder => "End Time", :id => 'event-end-time', :autocomplete=>"off", :class => 'form-text-field' %> (optional)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-section clearfix">
            <div class="form-section-left">
                Image
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <div id="article-default-image">                        
                        
                        <div class="display">
                            <% if !@event.default_image.blank? %>
                                <%= image_tag @event.default_image.url(:medium) %>
                            <% end %>
                        </div>
                
                        <%= f.hidden_field :default_image, :id => "article-default-image-hidden-field" %>
                        <%= f.hidden_field :default_image_selected, :id => "article-default-image-selected-field", :value => "false" %>
                        <%= f.hidden_field :default_image_original_filename, :id => "article-default-image-original-filename-hidden-field" %>
                        
                        <input type="filepicker" 
                                name="temp_default_image" 
                                class="button" 
                                data-fp-apikey="<%= Settings.filepicker.api_key %>" 
                                data-fp-button-text="Select <% if !@event.default_image.blank? %>a different <% end %>image" 
                                data-fp-extensions=".png,.jpg,.jpeg,.gif" 
                                data-fp-multiple="false" 
                                onchange="$('#article-default-image-hidden-field').val(event.fpfile.url); $('#article-default-image-selected-field').val('true'); $('#article-default-image-original-filename-hidden-field').val(event.fpfile.filename); $('#article-default-image .display').html('<img src=\'' + event.fpfile.url + '/convert?w=320&h=180\' />');" 
                        />
                        
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.flags.name.pluralize %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= hidden_field_tag "event[flag_ids][]", nil %>
                    <% Flag.all.each do |flag| %>
                        <label class="checkbox">
                            <%= check_box_tag "event[flag_ids][]", flag.id, @event.flag_ids.include?(flag.id) %>
                            <label><%= flag.name %></label>
                        </label>
                    <% end %>
                </div>
            </div>
        </div>
        
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.tags.name.pluralize %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :tag_list, :class => 'tag-list' %>
                </div>
            </div>
        </div>
        
        <% Settings.entities.types.each do |key,value| %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= value %>
            </div>
            <div class="form-section-right">
                <div class="form-line <%= key %>_list">
                    <% s = "#{key}_list".parameterize.underscore.to_sym %>
                    <%= f.text_field s, :class => "#{key}-list", :name => "event[#{key}_list]", "data-#{key}-ids" => @event.send("#{key}_ids".to_sym) %>
                </div>
            </div>
        </div>
        <% end %>

        <div class="form-section clearfix">
            <div class="form-section-left">
                Body
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_area :body, :placeholder => "Body", :id => 'event-body', :autocomplete=>"off" %>
                </div>
            </div>
        </div>
        
        <div id="actions" class="form-section clearfix">
            <% if action == 'create' %>
                <%= link_to "Create #{Settings.events.name}", '#', :class => "button green", :id => 'event-submit' %>
            <% elsif action == 'update'%>
                <%= link_to "Save #{Settings.events.name}", '#', :class => "button green", :id => 'event-submit' %>
                <%= link_to 'Delete Event', @event, :method => :delete, :data => { confirm: "Are you sure you want to delete this Event? This action cannot be undone." }, :class => 'button red' %>
            <% end %>
        </div>
    </div>
    
<% end %>