<%= render :partial => 'js' %>

<div id="list">
    
    <div class="header">
        <%= Settings.events.name.pluralize %>
        <div class="header-link pull-right">
            <%= link_to "New #{Settings.events.name} »", new_event_url %>
        </div>
    </div>
    
    <div class="criteria">
        Type:
		<ul>
            <li class="filter" data-filter="all">All</li>
            <% Settings.events.types.each do |key, value| %>
			    <li class="filter" data-filter="<%= key %>"><%= value %></li>
            <% end %>
		</ul>    
    </div>
    
    <div class="criteria">
        Date:
		<ul>
            <li class="sort active" data-sort="data-date" data-order="asc">Newer</li>
            <li class="sort" data-sort="data-date" data-order="desc">Older</li>
		</ul>    
    </div>
    
    <div id="fields" class="fields clearfix">
        <div class="quarter">
            Title
        </div>
        <div class="quarter">
            Slug
        </div>
        <div class="quarter">
            Type
        </div>
        <div class="quarter last">
            Date/Time
        </div>
    </div>

    <ul id="items" class="items">
        <% @events.each do |event| %>
            <li class="item mix <%= event.event_type %> clearfix" data-event-type="<%= event.event_type %>" data-date="<%= event.date.to_time.to_i %>">
                <div class="quarter">
                    <%= link_to event.title, edit_event_path(event) %>
                </div>
                <div class="quarter">
                    <%= link_to event.slug, edit_event_path(event) %>
                </div>
                <div class="quarter">
                    <%= link_to event.event_type.capitalize, edit_event_path(event) %>
                </div>
                <div class="quarter last">
                    <%= link_to event.date.strftime('%b %d, %Y'), edit_event_path(event)%>
                    
                    <% if !event.time.empty? %>
                        @ <%= link_to event.time, edit_event_path(event)%>
                    <% end %> 
                </div>
            </li>
        <% end %>
        <div class="fail_element">
            No <%= Settings.events.name.pluralize %> meet the selected criteria.
        </div>
    </ul>
    
</div>