<%= form_for @series, :html => {:autocomplete=>"off"} do |f| %>
    <div id="content">
        <% if flash[:alert] %>
            <div class="alert">
                <%= flash[:alert] %>
            </div>
        <% end %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.series.name %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :name, :placeholder => "Name", :id => 'series-name', :autocomplete=>"off", :class => 'form-text-field' %>
                </div>
                <div class="form-line">
                    <%= f.text_field :slug, :placeholder => "Slug", :id => 'series-slug', :autocomplete=>"off", :class => 'form-text-field' %>
                </div>
            </div>
        </div>
        
        <% if @series.id != nil %>
            <div class="form-section clearfix">
                <div class="form-section-left">
                    Image
                </div>
                <div class="form-section-right">
                    <div class="form-line">
                        <div id="series-image-display">
                            <% if !@series.image.blank? %>
                                <%= image_tag @series.image.url(:large) %>
                            <% end %>
                        </div>
                    
                        <%= f.hidden_field :image, :id => "series-image-hidden-field" %>
                        <%= f.hidden_field :image_original_filename, :id => "series-image-original-filename-hidden-field" %>
                    
                        <input type="filepicker" 
                                name="temp_image" 
                                class="button" 
                                data-fp-apikey="<%= Settings.filepicker.api_key %>" 
                                data-fp-button-text="Select image" 
                                data-fp-extensions=".png,.jpg,.jpeg" 
                                data-fp-multiple="false" 
                                onchange="$('#series-image-hidden-field').val(event.fpfile.url); $('#series-image-original-filename-hidden-field').val(event.fpfile.filename); $('#series-image-display').html('<img src=\'' + event.fpfile.url + '/convert?w=649&h=428&fit=crop\' />');" 
                        />
                    
                    </div>
                </div>
            </div>
        <% end %>
        
        <div class="form-section clearfix">
            <div class="form-section-left"></div>
            <div class="form-section-right">
                <div class="form-line">
                  <% if action == 'update' %>
                      <%= f.submit "Save Series", :class => "button" %>
                  <% else %>
                      <%= f.submit "Create Series", :class => "button" %>
                  <% end %>
                </div>
            </div>
        </div>

    </div>
    
<% end %>