<% 
if @widget 
    widget = @widget
end

if @position
    position = @position 
end
%>
<div id="image_<%= widget.id %>" class="widget image image-container" data-position="<%= position %>" data-widget-id="<%= widget.id %>">
    <div class="image">
        <% if @image %>
            <%= filepicker_image_tag(@image.image_url, w: 200, h: 200, fit: 'crop') %>
        <% end %>
    </div>
    <div class="overlay">
        <div class="buttons">
            <a href="#" class="edit" data-pane="<%= admin_gallery_editor_image_info_path(widget) %>">Edit</a> // <a href="#" class="remove" data-gallery-image-id="<%= widget.id %>">Remove</a>
        </div>
    </div>
</div>