<div id="article" data-id="<%= @article.id %>" />

<div id="content" <% if @article.id != nil %>class="has-right-bar"<% end %>>
    <div class="header">
        <% if action == "create" %>
            New
        <% elsif action == "update" %>
            Edit
        <% end %>
        <%= Settings.articles.name %>
        
        <% if @article.last_published_revision_id %>
            <span class="view-published-article">
                // <%= link_to 'View Published Article »', "/show/#{@article.id}", :target => '_blank' %>
            </span>
        <% end %>
    </div>
    <div class="form-section clearfix">
        <div class="form-section-left">
            Title
        </div>
        <div class="form-section-right">
            <div class="form-line">
                <%= f.text_area :title, :id => 'article-title', :autocomplete=>"off", :placeholder => 'Title' %>
            </div>
        </div>
    </div>
    
    <div class="form-section clearfix">
        <div class="form-section-left">
            Slug
        </div>
        <div class="form-section-right">
            <div class="form-line">
                <div id="article-slug-display"><%= @article.slug || "Enter a Title to populate this field" %></div>
                <div id="article-slug-container">
                    <%= f.text_field :slug, :id => 'article-slug', :placeholder => 'Slug', :class => "input-xlarge", 'data-original-slug' => @article.slug %>
                </div>
                <div id="article-slug-check"><span class="label"><i class='icon-search icon-large icon-white'></i> Checking</span></div>
                <div id="article-slug-reset"><a href="#" id="article-slug-change" class="right-bar-link">Change</a></div>
            </div>
        </div>
    </div>
    
    <div class="form-section clearfix">
        <div class="form-section-left">
            Template
        </div>
        <div class="form-section-right">
            <div class="form-line">
                <div id="templates" class="clearfix">
                    <%= f.hidden_field :template, :id => 'article-template' %>
                    <% @templates.each do |template| %>
                        <div id="template-<%= template.slug %>" class="template" data-template="<%= template.slug %>">
                            <div>
                                <% if !template.image.blank? %>
                                    <%= image_tag template.image.url(:large) %>
                                <% end %>
                            </div>
                            <div>
                                <%= template[:name] %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    
    <% if @article.id != nil %>
    
        <div class="form-section clearfix">
            <div class="form-section-left">
                Display type
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.collection_select :display_type, Settings.templates.display_types, :first, :last, {}, {:id => 'article-display-type'} %>
                </div>
            </div>
        </div>
        
        <div class="form-section clearfix">
            <div class="form-section-left">
                List Image
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <div id="article-default-image">                        
                        
                        <div class="display">
                            <% if !@article.default_image.blank? %>
                                <%= image_tag @article.default_image.url(:homepage_list) %>
                            <% end %>
                        </div>
                
                        <%= f.hidden_field :default_image, :id => "article-default-image-hidden-field" %>
                        <%= f.hidden_field :default_image_selected, :id => "article-default-image-selected-field", :value => "false" %>
                        <%= f.hidden_field :default_image_original_filename, :id => "article-default-image-original-filename-hidden-field" %>
                        
                        <input type="filepicker" 
                                name="temp_default_image" 
                                class="button article-select-image" 
                                data-fp-apikey="<%= Settings.filepicker.api_key %>" 
                                data-fp-button-text="Select a<% if !@article.default_image.blank? %> different <% end %> list image" 
                                data-fp-extensions=".png,.jpg,.jpeg,.gif" 
                                data-fp-multiple="false" 
                                onchange="$('#article-default-image-hidden-field').val(event.fpfile.url); $('#article-default-image-selected-field').val('true'); $('#article-default-image-original-filename-hidden-field').val(event.fpfile.filename); $('#article-default-image .display').html('<img src=\'' + event.fpfile.url + '/convert?w=457&h=310&fit=crop\' />'); " 
                        />
                    </div>
                </div>
            </div>
        </div>
        
        <% if Settings.articles.author.enabled %>
            <div class="form-section clearfix">
                <div class="form-section-left">
                    Author
                </div>
                <div class="form-section-right">
                    <div class="form-line">
                        <div id="article-author-display"><%= @article.author_display_name %></div>
                        <div id="article-author-container">
                            <%= collection_select(:article, :user_ids, User.all, :id, :display_name, {}, {:multiple => false, :name => 'article[user_ids][]', :class => 'select-field'})%>
                        </div>
                        <div id="article-author-reset"><a href="#" id="article-author-change" class="right-bar-link">Change</a></div>
                        <div id="article-author-other">
                            <a href="#" id="article-author-use-other" class="right-bar-link">Manually enter Author name</a>
                            <%= f.text_field :author_other_name, :id => 'article-author-other-name', :placeholder => "Author name", :class => "input-xlarge", 'data-original-author-other-name' => @article.author_other_name %>
                        </div>
                        <div id="article-author-other-cancel"><a href="#" id="article-author-use-existing" class="right-bar-link">Use existing Author</a></div>
                    </div>
                </div>
            </div>
        <% end %>
    
        <% if Settings.articles.summary.enabled %>
            <div class="form-section clearfix">
                <div class="form-section-left">
                    Summary
                </div>
                <div class="form-section-right">
                    <div class="form-line">
                        <%= f.text_area :summary, :id => 'article-summary', :autocomplete=>"off", :placeholder => 'Summary' %>
                    </div>
                </div>
            </div>
        <% end %>
    
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.categories.name.pluralize %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <% if Settings.categories.mode == 'multiple' %>
                        <%= hidden_field_tag "article[category_ids][]", nil %>
                        <% Category.all.each do |category| %>
                            <label class="checkbox">
                                <%= check_box_tag "article[category_ids][]", category.id, @article.category_ids.include?(category.id) %>
                                <label><%= category.name %></label>
                            </label>
                        <% end %>
                    <% else %>
                        <%= collection_select(:article,:category_ids,Category.all,:id,:name,{:selected=>@article.category_ids}) %>
                    <% end %>
                </div>
            </div>
        </div>

        <% if Settings.series.enabled %>
            <div class="form-section clearfix">
                <div class="form-section-left">
                    <%= Settings.series.name.pluralize %>
                </div>
                <div class="form-section-right">
                    <div class="form-line">
                        <%= hidden_field_tag "article[series_ids][]", nil%>
                        <% Series.all.each do |series| %>
                            <label class="checkbox">
                                <%= check_box_tag "article[series_ids][]", series.id, @article.series_ids.include?(series.id) %>
                                <label><%= series.name %></label>
                            </label>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
         
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.flags.name.pluralize %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= hidden_field_tag "article[flag_ids][]", nil %>
                    <% Flag.all.each do |flag| %>
                        <label class="checkbox">
                            <%= check_box_tag "article[flag_ids][]", flag.id, @article.flag_ids.include?(flag.id) %>
                            <label><%= flag.name %></label>
                        </label>
                    <% end %>
                </div>
            </div>
        </div>
        
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= Settings.tags.name.pluralize %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :tag_list, :class => 'tag-list' %>
                </div>
            </div>
        </div>
        
        <div class="header internal">
            <%= Settings.entities.name.pluralize.capitalize %>
            <div class="tip">
                All <%= Settings.entities.name.pluralize.downcase %> must be created (via the links in the menu bar at the top of the page) before they can be added to an <%= Settings.articles.name.capitalize %>
            </div>
        </div>
        
        <% Settings.entities.types.each do |key,value| %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= value %>
            </div>
            <div class="form-section-right">
                <div class="form-line <%= key %>_list">
                    <% s = "#{key}_list".parameterize.underscore.to_sym %>
                    <%= f.text_field s, :class => "#{key}-list", :name => "article[#{key}_list]", "data-#{key}-ids" => @article.send("#{key}_ids".to_sym) %>
                </div>
            </div>
        </div>
        <% end %>      
          
        <div class="header internal">
            <%= Settings.extra_fields.article.name.pluralize.capitalize %>
            <div class="tip">
                <%= Settings.extra_fields.article.name.pluralize.capitalize %> will be parsed when displayed. To include a name for the url, use two pipe characters as a separator (<i>example: http://www.whatever.com||Whatever</i>)
            </div>
        </div>
        
        <% Settings.extra_fields.article.strings.each do |key,value| %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                <%= value %>
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field key, :autocomplete=>"off", :id => "article-#{key}", :class => 'article-extra-field' %>
                </div>
            </div>
        </div>
        <% end %>

    <% end %>
    
    <div id="actions" class="form-section clearfix has-right-bar">
        <% if action == 'create' %>
            <%= link_to "Create #{Settings.articles.name} and Continue Editing", '#', :class => "button green", :id => 'article-submit' %>
        <% elsif action == 'update'%>
            <%= link_to "Save #{Settings.articles.name}", '#', :class => "button green", :id => 'article-submit' %>
            <%= link_to "Edit #{Settings.articles.name} Content", '#', :class => "button yellow article-edit", :id => 'article-edit' %>
        <% end %>
    </div>
    
</div>
