<% if @article.id != nil %>
    <div id="right-bar">
        <div id="status">
            <div class="top">
                Currently Published
                <div class="switch pull-right switch-small article-published" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove icon-white'></i>" data-on="success" data-off="danger">
                    <%= f.check_box :published, :id => 'article-published' %>
                </div>
            </div>
        </div>

        <div id="schedule">
            <div class="top">
                Publish at
                <div class="input-append pull-right date" id="article-publish-at">
                    <%= f.text_field :publish_at, :id => 'article-publish-at', :class => "input-medium", :readonly => true, 'data-date' => @article.publish_at, 'data-date-format' => "dd MM yyyy - hh:ii" %>
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
            </div>        
        </div>

        <% if @article.versions.count > 1 %>
            <div class="header">
                History
            </div>

            <div class="items">
                <% @article.versions.reverse.each do |version| %>
            
                    <% 
                    if version.index == @version_index || (@version_index == nil && version.index == @article.versions.count - 1) 
                        current_revision = true
                    else
                        current_revision = false
                    end
                    %>
                
                
                    <div class="item 
                        <% if current_revision %>
                            current_revision
                        <% end %>
                    ">
                        <div class="item-title">
                            <% if version.index == 0 %>
                                Original
                            <% else %>
                                Revision <%= version.index %>
                                <% if version.index == @article.versions.count - 1 %>
                                    <span class="lighter">(Latest)</span>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="item-sub-title">
                            <% if version.index == 0 %>
                                Created by
                            <% else %>
                                Edited by
                            <% end %>
                            <span class="bold"><%= User.find(version.whodunnit).display_name %></span>
                            <%= distance_of_time_in_words_to_now version.created_at %>
                            ago
                        </div>
                        <% if !current_revision %>
                            <div>
                                <a href="<%= article_revision_path(@article, version.index) %>" class="right-bar-link">View <% if version.index == 0 %>Original<% else %>this Revision<% end %></a>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>
            
    </div>
<% end %>