<% if @article.id != nil %>
    <div id="right-bar">

        <% if @article.last_published_revision_id %>
            <div id="status" class="published">
                <% 
                    if @article.last_published_revision_id == 0
                        text = "Original"
                    else
                        text = "Revision #{@last_published_revision_index}"
                    end
                %>
                Currently Published: <%= link_to text, article_revision_path(@article, @article.last_published_revision_id) %>
            </div>
        <% else %>
            <div id="status" class="unpublished">
                Not Published
            </div>
        <% end %>
        
        <% if @article.next_published_revision_id %>
            <div id="status" class="scheduled">
                <% 
                    if @article.next_published_revision_id == 0
                        text = "Original"
                    else
                        text = "Revision #{@next_published_revision_index}"
                    end
                %>
                Scheduled: <%= link_to text, article_revision_path(@article, @article.next_published_revision_id) %>
                <br />
                <%= distance_of_time_in_words_to_now @article.publish_next_revision_at %> 
                <% if @article.publish_next_revision_at > DateTime.now %>
                    from now
                <% else %>
                    ago
                <% end %>
            </div>
        <% end %>
        
        <div class="header">
            History
        </div>

        <div class="items">
            <% @article.versions.reverse.each do |version| %>
        
                <% 
                if version.id == @version_id || (@version_id == nil && version.index == @article.versions.count - 1) 
                    current_revision = true
                else
                    current_revision = false
                end
                %>
            
                <div class="item <% if current_revision %>current_revision<% end %>">
                    <div class="item-title">
                        <% if current_revision %>
                            Viewing
                        <% end %>
                        <% if version.index == 0 %>
                            Original
                        <% else %>
                            Revision <%= version.index %>
                        <% end %>
                        
                        <% if version.id == @article.last_published_revision_id %>
                            <span class="published">(Published)</span>
                        <% elsif version.id == @article.next_published_revision_id %>
                            <span class="scheduled">(Scheduled)</span>
                        <% end %>
                    </div>
                    <div class="item-sub-title">
                        <% if version.index == 0 %>
                            Created by
                        <% else %>
                            Edited by
                        <% end %>
                        <span class="bold"><%= User.find(version.whodunnit).display_name %></span>
                        <%= distance_of_time_in_words_to_now version.created_at %>
                        ago
                    </div>
                    <div>
                        <% if !current_revision %>
                            <a href="<%= article_revision_path(@article, version.id) %>" class="right-bar-link view-revision">View <% if version.index == 0 %>Original<% else %>this Revision<% end %></a> &nbsp;&nbsp;
                        <% end %>
                        <% if version.id != @article.last_published_revision_id and version.id != @article.next_published_revision_id %>
                            <a href="#" class="right-bar-link show-publish">Publish <% if version.index == 0 %>Original<% else %>this Revision<% end %></a> 
                        <% end %>
                        <% if version.id == @article.last_published_revision_id %>
                            <a href="#" class="right-bar-link unpublish">Unpublish <% if version.index == 0 %>Original<% else %>this Revision<% end %></a> 
                        <% end %>
                        <% if version.id == @article.next_published_revision_id %>
                            <a href="#" class="right-bar-link unschedule">Unschedule <% if version.index == 0 %>Original<% else %>this Revision<% end %></a> 
                        <% end %>
                    </div>
                </div>
                
                <% if version.index != @article.last_published_revision_id and version.index != @article.next_published_revision_id %>
                    <div class="publish">
                        <div class="item-title">
                            Publish 
                            <% if version.index == 0 %>
                                Original
                            <% else %>
                                Revision <%= version.index %>
                            <% end %>
                        </div>
                        <div class="buttons options">
                            <a href="#" class="button now" data-revision-id="<%= version.id %>">Now</a> 
                            <a href="#" class="button later">Later</a> 
                            <a href="#" class="button cancel">Don't Publish</a>
                        </div>
                        <div class="buttons schedule">
                            <div>
                                <input class="datepicker" type="text" placeholder="Select Date" />
                            </div>
                            <div>
                                <input class="timepicker" type="text" placeholder="Select Time" />
                            </div>
                            <div class="topbuffer">
                                <a href="#" class="button schedule" data-revision-id="<%= version.id %>">Schedule</a> 
                                <a href="#" class="button cancel">Don't Publish</a>
                            </div>
                        </div>        
                    </div>
                <% end %>
            <% end %>
        </div>
            
    </div>
<% end %>