<% if @article.id != nil %>
    <div id="right-bar">
        <div id="status">
            <div class="top">
                Currently Published
                <div class="switch pull-right switch-small article-published" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove icon-white'></i>" data-on="success" data-off="danger">
                    <%= f.check_box :published, :id => 'article-published' %>
                </div>
            </div>
        </div>

        <div id="schedule">
            <div class="top">
                Publish at
                <div class="input-append pull-right date" id="article-publish-at">
                    <%= f.text_field :publish_at, :id => 'article-publish-at', :class => "input-medium", :readonly => true, 'data-date' => @article.publish_at, 'data-date-format' => "dd MM yyyy - hh:ii" %>
                    <span class="add-on"><i class="icon-time"></i></span>
                </div>
            </div>        
        </div>

        <div class="header">
            History
        </div>

        <% @article.versions.reverse.each do |version| %>
            <div class="item">
                <div class="item-title">Version <%= version.index %></div>
                <div id="article-slug-display"><%= version.whodunnit %></div>
                <div id="article-slug-container">
                    <%= f.text_field :slug, :id => 'article-slug', :placeholder => 'Slug', :class => "input-xlarge", 'data-original-slug' => @article.slug %>
                </div>
                <div id="article-slug-check"><span class="label"><i class='icon-search icon-large icon-white'></i> Checking</span></div>
                <div id="article-slug-reset"><a href="#" id="article-slug-change" class="right-bar-link">Change</a></div>
            </div>
        <% end %>
            
    </div>
<% end %>