<%= render :partial => 'js' %>

<div id="list">
    
    <div class="header">
        <%= Settings.articles.name.pluralize %>
        <div class="header-link pull-right">
            <%= link_to "New #{Settings.articles.name} »", new_article_url %>
        </div>
    </div>

    <div class="search clearfix">
        <div class="name">
            Search <%= Settings.articles.name.pluralize %>:
        </div>
        <div class="contents">
            <input type="text" id="search-term" class="article-search-term" placeholder="Enter search term" />
        </div>
        <div class="spinner"></div>
    </div>
    
    <div class="search clearfix">
        <div class="name">
            Filters: 
        </div>
        <div class="contents">
            <div class="reset-filters">Reset Filters</div>
        </div>
    </div>
    
    <div class="criteria-set">    
        <div id="Filters">
            <div class="criteria clearfix">
                <div class="name">
                    Type:
                </div>
                <div class="contents">
            		<ul>
                        <li class="active" data-filter="all" data-dimension="template">All</li>
                        <% @templates.each do |template| %>
                			<li data-filter="<%= template.slug %>" data-dimension="template"><%= template.name %></li>
                        <% end %>
            		</ul>
                </div> 
            </div>
    
            <div class="criteria clearfix">
                <div class="name">
                    Category:
                </div>
                <div class="contents">
            		<ul>
                        <li class="active" data-filter="all" data-dimension="category">All</li>
                        <% Category.all.each do |category| %>
                			<li data-filter="<%= category.slug %>" data-dimension="category"><%= category.name %></li>
                        <% end %>
            		</ul>
                </div>     
            </div>
    
            <div class="criteria clearfix">
                <div class="name">
                    Flag:
                </div>
                <div class="contents">
            		<ul>
                        <li class="active" data-filter="all" data-dimension="flag">All</li>
                        <% Flag.all.each do |flag| %>
                			<li data-filter="<%= flag.slug %>" data-dimension="flag"><%= flag.name %></li>
                        <% end %>
            		</ul>
                </div>     
            </div>
    
            <div class="criteria clearfix">
                <div class="name">
                    Status:
                </div>
                <div class="contents">
            		<ul>
                        <li class="active" data-filter="all" data-dimension="status">All</li>
            			<li data-filter="published" data-dimension="status">Published</li>
            			<li data-filter="scheduled" data-dimension="status">Scheduled</li>
            			<li data-filter="unscheduled" data-dimension="status">Unscheduled</li>
            		</ul> 
                </div>    
            </div>
        </div>
        <div class="criteria clearfix">
            <div class="name">
                Sort by:
            </div>
            <div class="contents">
        		<ul>
                    <li class="sort active" data-sort="data-created" data-order="asc">Newest</li>
                    <li class="sort" data-sort="data-created" data-order="desc">Oldest</li>
        		</ul>  
            </div>   
        </div>
    </div>
    
    <div id="fields" class="fields clearfix">
        <div class="twofifths">
            Title
        </div>
        <div class="onetenth">
            Type
        </div>
        <div class="onetenth">
            Category
        </div>
        <div class="onetenth">
            Flag
        </div>
        <div class="onetenth">
            Status
        </div>
        <div class="onefifth last">
            Date Created
        </div>
    </div>

    <ul id="items" class="items">
        <%= render :partial => 'list' %>
        <div class="fail_element">
            No <%= Settings.articles.name.pluralize %> meet the selected criteria.
        </div>
    </ul>
    
</div>