<%= render :partial => 'js' %>

<div id="list">
    
    <div class="header">
        <%= Settings.articles.plural %>
        <div class="header-link pull-right">
            <%= link_to "New #{Settings.articles.name} »", new_article_url %>
        </div>
    </div>

    <div id="Filters">
        <div class="criteria">
            Type:
    		<ul>
                <li class="active" data-filter="all" data-dimension="template">All</li>
                <% @templates.each do |template| %>
        			<li data-filter="<%= template.slug %>" data-dimension="template"><%= template.name %></li>
                <% end %>
    		</ul>    
        </div>
    
        <div class="criteria">
            Flag:
    		<ul>
                <li class="active" data-filter="all" data-dimension="flag">All</li>
                <% Flag.all.each do |flag| %>
        			<li data-filter="<%= flag.slug %>" data-dimension="flag"><%= flag.name %></li>
                <% end %>
    		</ul>    
        </div>
    
        <div class="criteria">
            Status:
    		<ul>
                <li class="active" data-filter="all" data-dimension="status">All</li>
    			<li data-filter="published" data-dimension="status">Published</li>
    			<li data-filter="scheduled" data-dimension="status">Scheduled</li>
    			<li data-filter="unscheduled" data-dimension="status">Unscheduled</li>
    		</ul>    
        </div>
    </div>
    
    <div class="criteria">
        Order:
		<ul>
            <li class="sort active" data-sort="data-created" data-order="asc">Newer</li>
            <li class="sort" data-sort="data-created" data-order="desc">Older</li>
		</ul>    
    </div>
    
    <div id="fields" class="fields clearfix">
        <div class="twofifths">
            Title
        </div>
        <div class="onefifth">
            Type
        </div>
        <div class="onefifth">
            Created at
        </div>
        <div class="onefifth">
            Status
        </div>
    </div>

    <ul id="items" class="items">
        <% @articles.each do |article| %>
            <li class="item mix <%= article.status %> <%= article.template %> <% article.flags.each do |flag|%><%= flag.slug %> <% end %>clearfix" data-created="<%= article.created_at.to_time.to_i %>">
                <div class="twofifths">
                    <%= link_to article.title, edit_article_path(article) %>
                </div>
                <div class="onefifth">
                    <%= article.template.capitalize %>
                </div>
                <div class="onefifth">
                    <%= article.created_at.strftime("%b, %d %y - %I:%M %p") %>
                </div>
                <div class="onefifth <%= article.status %>">
                    <%= article.status.capitalize %>
                </div>
            </li>
        <% end %>
        <div class="fail_element">
            :( Sorry, no articles meet the selected criteria.
        </div>
    </ul>
    
</div>