<% if @video.provider == "vine"%>

    <iframe src="https://vine.co/v/<%= @video.code %>/embed/simple" width="649" height="649" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>

<% elsif @video.provider == "youtube"%>

    <iframe width="647" height="364" src="//www.youtube.com/embed/<%= @video.code %>" frameborder="0" allowfullscreen></iframe>

<% elsif @video.provider == "vimeo" %>

    <iframe src="http://player.vimeo.com/video/<%= @video.code %>?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="647" height="298" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<% elsif @video.provider == "ooyala" %>

    <script src='http://player.ooyala.com/v3/51efea9115254af3a45f2da68a869ec9'></script>
    <div id='ooyalaplayer<%= @video.code %>' style='width:647px;height:367px'></div>
    <script type='text/javascript'>
        var complextvadtag = (typeof(cmnvideotagdefault) === 'function') ? cmnvideotagdefault('') : null;        
        OO.ready(function() {          
            if ( complextvadtag === null) {            
                OO.Player.create('ooyalaplayer<%= @video.code %>', '<%= @video.code %>', { 
                    adSetCode: '48458cefa2a049adaa2f7d54c962dc2d'
                });          
            } else {            
                OO.Player.create('ooyalaplayer<%= @video.code %>', '<%= @video.code %>', { 
                    vast: { 
                        tagUrl: complextvadtag 
                    }, 
                    adSetCode: '48458cefa2a049adaa2f7d54c962dc2d' 
                });          
            }        
        });        
    </script>
    <noscript><div>Please enable Javascript to watch this video</div></noscript>
    
<% end %>
    
<div class="selected-buttons">
    Select a different video
</div>