<div id="stage">
    <div id="article_editor">
        <div id="article" data-id="<%= @article.id %>" />
        <div id="content_editor" data-url="<%= article_editor_path(@article.id) %>" />
            
        <% @template.components.order("template_components.order ASC").each_with_index do |component, index| %>
            <div id="<%= component.slug %>_<%= index %>" class="<%= component.slug %>" data-position="<%= index %>">
                <%= render :partial => component.slug, :locals => {:position => index} %>
            </div>
        <% end %>

        </div>
    </div>
</div>

<div id="bottom-bar">
    <div class="buttons pull-right">
        <a id="article-save-in-editor" href="" class="button yellow">Save Article</a>
        <a id="article-save-confirm" href="" class="button yellow">Save Article</a>
        <a id="article-dont-save" href="#" class="button">Don't Save</a>
        <a id="article-cancel" href="#" class="button">Cancel</a>
        <a id="article-preview" href="#" class="button">Preview</a>
        <a id="article-back" href="<%= edit_article_path(@article) %>" class="button">Done Editing Article</a>
    </div>  
    <div class="article-needs-save-message pull-right">
        Would you like to save your changes before exiting the Content Editor?
    </div>
</div>