<%= form_for [:admin, @user], :html => {:autocomplete=>"off"} do |f| %>
    <div id="content">
        <% if flash[:alert] %>
            <div class="alert">
                <%= flash[:alert] %>
            </div>
        <% end %>
        <div class="form-section clearfix">
            <div class="form-section-left">
                Account Info
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.text_field :username, :placeholder => "Username", :id => 'user-username', :autocomplete=>"off" %>
                </div>
                <div class="form-line">
                    <%= f.text_field :email, :placeholder => "Email", :id => 'user-email', :autocomplete=>"off" %>
                </div>
                <div class="form-line">
                    <%= f.text_field :display_name, :placeholder => "Display name", :id => 'user-display-name', :autocomplete=>"off" %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left">
                Password
            </div>
            <div class="form-section-right">
                <div class="form-line">
                    <%= f.password_field :password, :placeholder => "Password", :id => 'user-password', :autocomplete=>"off" %>
                </div>
                <div class="form-line">
                    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :id => 'user-password-confirmation', :autocomplete=>"off" %>
                </div>
            </div>
        </div>
        <div class="form-section clearfix">
            <div class="form-section-left">
                Role
            </div>
            <div class="form-section-right">
                <%= collection_select(:user, :role_ids, Role.all, :id, :name, {}, {:multiple => false, :name => 'user[role_ids][]'})%>
            </div>
        </div>
        <div id="actions">
            <% if action == 'update' %>
                <%= f.submit "Save User", :class => "btn" %>
            <% else %>
                <%= f.submit "Create User", :class => "btn" %>
            <% end %>
        </div>
    </div>
    
<% end %>