<div class="content">
    <h1>Post a Quote</h1>

    <% if @result %>
        <div class="result <%= @result %>">
            <% if @result == 'success' %>
                Quote successfully posted.
            <% elsif @result == 'failure' %>
                Quote couldn't be posted.
            <% elsif @result == 'error' %>
                Please enter a quote.
            <% end %>
        </div>
    <% end %>
    
    <%= form_for @article, :url => '/admin/mobile/quote', :method => :post, :html => { :multipart => true } do |f| %>
        <div class="form-row">
            <div class="title">
                Quote:
            </div>
            <%= text_area_tag :quote, @quote %>
        </div>
        <div class="form-row">
            <div class="title">
                Source (optional):
            </div>
            <%= text_field_tag :source, @source %>
        </div>
        <div class="form-row">
            <div class="title">
                Link (optional):
            </div>
            <%= text_field_tag :link, @link %>
        </div>
        <div class="form-row">
            <a class="submit">Publish now</a>
        </div>
    <% end %>
</div>