<% 
if @widget 
    widget = @widget
end

if @position
    position = @position 
end
%>
<div id="image_<%= widget.id %>" class="widget image image-container" data-position="<%= position %>" data-pane="<%= gallery_editor_image_info_path(widget) %>" data-widget-id="<%= widget.id %>">
    <div class="image">
        <% if @image %>
            <%= image_tag @image.image.url(:largethumb) %> 
        <% end %>
    </div>
    <div class="overlay">
        <div class="buttons">
            <a href="#" class="edit">Edit</a> // <a href="#" class="remove" data-gallery-image-id="<%= widget.id %>">Remove</a>
        </div>
    </div>
</div>