<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.site.name %></title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700&subset=latin,greek' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "admin/admin_manifest", :media => "all" %>
  <%= javascript_include_tag "admin/admin_manifest" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<!-- BEGIN HEADER -->
	
	<header>
		<div class="top clearfix">
            <div class="navigation-wrapper clearfix">
                Content Editor
            </div>
		</div>
	</header>

    <div id="stage">
        <div id="article_editor">
            <%= yield %>
        </div>
    </div>
    
    <div id="bottom-bar">
        <div class="buttons pull-right">
            <a id="article-preview" href="#" class="button">Preview</a>
            <a id="article-back" href="<%= edit_admin_article_path(@article) %>" class="button">Back to Article Info</a>
        </div>  
    </div>
    
    <%= render :partial => 'admin/picker/frame'%>
    
</body>
</html>
