<!DOCTYPE html>
<html>
<head>
    <% if @gallery %>
      <title><%= Settings.site.name %></title>
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700&subset=latin,greek' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    "admin/admin_manifest", :media => "all" %>
      <%= javascript_include_tag "admin/admin_manifest" %>
      <%= filepicker_js_include_tag %>
      <%= csrf_meta_tags %>
    <% end %>
</head>
<body>
	
	<!-- BEGIN HEADER -->
	
	<header>
		<div class="top clearfix">
            <div class="navigation-wrapper clearfix">
                <% if @gallery %>
                    Gallery Editor // <%= @gallery.name %>
                <% else %>
                    Image Info
                <% end %>
            </div>
		</div>
	</header>

    <%= yield %>

</body>
</html>
